/********f************
    
    Project 1 Stylesheet
    Name:
    Date:
    Description:

*********************/

html,
body,
section,
p,
header,
nav,
div,
article,
aside,
ol,
ul,
li,
h1,
h6 {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #e6e6e6;
}

div#container {
	width: 810px;
	background-color: #fff;
	border-radius: 8px;
	margin: 10px auto;
	padding: 10px;
	box-shadow: 1px 1px 2px #a2a2a2, -1px -1px 2px #a2a2a2;
}

#banner{
	
	background-image: url("images/headerBackground.jpg");
	width: 100%;
	background-size: 100% 100%;
	color:#fff;
	
}
	#banner h1{

		padding: 5%;
	}
	#banner p{
		text-align: end;
		padding: 4%;
	}


ul li{
	list-style: none;
}
	ul li a{
		text-decoration: none;
	}
	#top-nav{
		display: flex;
		flex-direction: row;
		align-items: end;
		font-size: 15px;
	}
	#top-nav ul, #bottom-nav ul, #footing-nav{
		display: flex;
		width: 100%;
		justify-content: center;
		

	}
	#top-nav ul li, #bottom-nav ul li, #footing-nav li{
		padding-left: 10px;
		line-height: 20px;
	}
	#top-nav #search-site, #top-nav #search{
		height: 30px;
		width: 130px;
		margin-bottom: 10px;
	}

	#bottom-nav{
		color: #fff;
		background-color: aqua;
		padding: 5px;
	}


#main-article{
	display: flex;
	height: 100%;
}	
	#main-article h2{
		border-bottom: #a2a2a2 solid 2px;
	}
	#main-article article{
		margin-left: 5px;
	}
	#main-article article ul{
		margin-left: 4%;
	}
	#main-article article ul li{
		padding: 2%;
	}
	#main-article article p{
		margin-bottom: 5px;
	}
	
	#main-article aside{
		margin:0;
		width: 70%;
		height: 60%;
		margin-right: 1%;
		justify-content: space-around;
		flex-wrap: nowrap;
	}
	#main-article aside div{
		
		margin-top: 25%;
		font-size: 14px;
		border-top: #a2a2a2 2px solid;
		margin-bottom: 5%;
		
	}
	#main-article aside div img{
		
		float:right;
		margin-top: 2%;
		
	}
	
	#main-article #section2{
		margin-top: 3%;
	}
	#main-article aside ul{
		font-size: 14px;
		
	}

	#main-article aside ul li{
		list-style: disc;
		list-style-position: inside;
		font-size: 13px;
		padding: 6px;
		background-color: #a2a2a2;
	
		
	}
	#main-article #main-rover{
		border: #a2a2a2 solid 2px;
		float:right;
		padding: 1%;
		width: 260px;
	}
	#main-article #main-rover p{
		font-size: 13px;
	}

	#main-article article #accordian{
		display:flex;
		
	}
	#main-article article #accordian p{
		padding-right: 2%;
		padding-top: 1%;
		font-size: 13px;
		
	}

footer{
	padding-top: 5%;
}
	#footing-nav li, footer p{
		text-align: center;
		font-size: 11px;
	}



