/********f************
    
    Project 1 Stylesheet
    Name: Azrael Casilan
    Date: October 6th
    Description: For styling I tried to reuse as many selectors as I could in order to save myself the hand cramps. I tried to further organize the CSS file by pseudo-parenting the code, hopefully making it
	easier to navigate. For the most part, I used display: flex and it's properties in order to create the navigation bars. Both images are kept in place with a float:right value next to their text.
	I had to figure out how to change the hyperlink attributes as the list item was hovered over, but overall it was a neat experience.

*********************/

html,
body,
section,
p,
header,
nav,
div,
article,
aside,
ol,
ul,
li,
h1,
h6 {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Verdana, sans-serif;
	
}

body {
	background-color: #e6e6e6;
	
}

div#container {
	width: 810px;
	
	border-radius: 8px;
	margin: 10px auto;
	padding: 10px;
	box-shadow: 1px 1px 2px #a2a2a2, -1px -1px 2px #a2a2a2;
	background: linear-gradient(#ffffff 95%, #dcdada 100%);
}

#banner{
	
	background-image: url("images/headerBackground.jpg");
	width: 100%;
	background-size: 100% 100%;
	height: 195px;
	color:#fff;
	
}
	#banner h1{
		font-weight: 100;
		letter-spacing: 3px;
		padding: 5%;
		padding-top: 3%;
		padding-left: 3%;
	}
	#banner p{
		text-align: end;
		padding: 7%;
		padding-right:5%;
		font-style: oblique;
		font-size:14px;
	}

a{
	text-decoration: none;
}
ul li{
	list-style: none;
}
	ul li a{
		text-decoration: none;
	}
	#top-nav{
		display: flex;
		flex-direction: row;
		align-items: end;
		font-size: 11px;
		color:#2a39be;
		
		
	}
	#top-nav ul, #bottom-nav ul, #footing-nav{
		display: flex;
		width: 100%;
		justify-content: center;

	}

	
	#top-nav ul li, #bottom-nav ul li, #footing-nav li{
		padding-left: 5px;
		padding-right: 5px;
		line-height: 20px;
		
	}
	#bottom-nav ul li:hover, #bottom-nav ul li:focus{
		background: linear-gradient(#6ac6ff 35%, #95cdc4 100%);
		transition-duration: 5ms;
	}
	#top-nav ul li a{
		
		color: #2a39be;
		transition-duration: 5ms;
	}
	#top-nav ul li a:hover, #footing-nav li a:hover, #top-nav ul li a:focus, #footing-nav li a:focus{
		color: #6ac6ff;
		transition-duration: 5ms;
	}
	#top-nav ul li{
		margin-bottom: 5px;
		height: 18px;
		border-right: #2a39be solid 2px;
	}
	

	#top-nav #search-site, #top-nav #search{
		height: 20px;
		width: 90px;
		margin-bottom: 10px;
		margin-left: 1%;
	}

	#bottom-nav{
		color: #fff;
		background: linear-gradient(#6ac6ff 28%, #334791 100%);
		padding: 5px;
		font-size: 12px;
		
		

	}
	#bottom-nav ul li{
		border-right: #7381ff groove 3px;

		

	}
	#bottom-nav a{
		color: #fff;
		padding: 5px;
		
		
		
	}
	#top-nav ul li:nth-last-child(1), #bottom-nav ul li:nth-last-child(1), #footing-nav li:nth-last-child(1){
		border: none;
	}

#main-article{
	display: flex;
	height: 100%;
}	
	#main-article h2{
		border-bottom: #b4b4b4 solid 1px;
		color:#484848;
		padding-bottom: 1%;
	}
	#main-article article{
		margin-left: 5px;
		font-size: 13px;
	}
		#main-article article a{
			color:#2a39be;
			font-weight:bold;
		}
		#main-article article ul{
			margin-left: 3%;
		}
		#main-article article ul li{
			padding: 2%;
		}
		#main-article article p{
			margin-bottom: 5px;
			padding: 1%;
			font-size: 12px;
		}
		#main-article #starter-p{
			font-weight: bold;
			font-size: 13px;

		}
		#main-article article #accordian{
			display:flex;
		
		}
		#main-article article #accordian p{
			justify-content: center;
			padding: 1%;
			padding-left: 0.5%;
			font-size: 11px;
		
		}
	#main-article aside{
		margin:0;
		width: 70%;
		height: 60%;
		margin-right: 1%;
		justify-content: space-around;
		flex-wrap: nowrap;
	}
		#main-article aside div{
		
			margin-top: 20%;
			font-size: 12.5px;
			border-top: #b4b4b4 1px solid;
			color:#868585;
			margin-bottom: 5%;
			padding-top: 3%;
		
		}
		#main-article aside div img{
		
			float:right;
			margin-top: 4%;
		
		}
		
	
	#main-article #section2{
		margin-top: 3%;
		margin-right: 0%;
	}
	#main-article aside ul{
		font-size: 14px;
		
	}

		#main-article aside ul li{
			list-style: disc;
			list-style-position: inside;
			font-size: 11px;
			padding: 9px;
			background: linear-gradient(#eae9e9 28%, #c6c5c5 100%);
			border-bottom: #b4b4b4 solid 2px;
			color:#484848;
			font-weight: bold;
	
		
		}
		#main-article aside ul li:hover, #main-article aside ul li:focus{
			background: linear-gradient(#b0b0b0 28%, #777777 100%);
			color:#fff;
			
			
		
		}
		#main-article aside ul li:hover a{
			color:#fff;
		}
		#main-article aside ul li a{
			color:#484848;
		}
		#main-article aside ul li:nth-child(1){
			list-style: none;
			padding-left: 8px;
	
		
		}
		#main-article #main-rover{
			border: #b4b4b4 solid 1px;
			float:right;
			padding: 1%;
			width: 260px;
		}
		#main-article #main-rover p{
			font-size: 11px;
		}

	


footer{
	padding-top: 10%;
}
	footer a{
		color:#2a39be;
	}
	#footing-nav li, footer p{
		text-align: center;
		font-size: 11px;
	}
	#footing-nav li{
		border-right:#000000 solid 2px;
	}
	#footing-nav li:nth-last-child(1){
		border: none;
	}
	footer #map{
		border-left: #000000 solid 2px;
		padding-left: 8px;
	}
	footer #location{
		color:#868585;
	}



